/////////////////////////////////////////////////////
// GLOBAL
/////////////////////////////////////////////////////

html {
	background: black;
	scrollbar-width: thin;
	scrollbar-color: black #404040;
}

body {
	margin: 0;
}

#App {
	display: flex;
	flex-direction: horizontal;
}

h2 {
	margin: 0.25em 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/////////////////////////////////////////////////////
// INGREDIENTS
/////////////////////////////////////////////////////

@mixin desktop {
	@media (max-width: 1799px) { @content; }
}
@mixin jumbo {
	@media (min-width: 1800px) { @content; }
}

$base-outline-color: hsla(0, 0, 0, .55);

.green {
	background: rgb(0, 255, 0);
}
.red {
	background: rgb(255, 20, 20);
}
.grey {
	background: rgb(111,111,111);
}
.green-text {
	color: rgb(0, 255, 0);
}
.red-text {
	color: rgb(255, 20, 20);
}
.grey-text {
	color: rgb(111,111,111);
}

.diamond {
	width: 0.15em;
	height: 0.15em;
	border: 0.09em solid $base-outline-color;
	transform: rotate(45deg);
	top: 0.65em;
	left: 0.33em;
	position: absolute;
}

/////////////////////////////////////////////////////
// LEFT SIDE
/////////////////////////////////////////////////////

.monitor {
	flex-grow: 1;
	position: relative;
}

.network-text {
	color: white;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 2em;
	font-family: 'Roboto';
	width: 100%;
	text-align: center;
}

.groups {
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	padding: 1em;
}

.group {
	color: white;
	font-family: 'Roboto', sans-serif;
	line-height: 1.75em;
	@include desktop {
		font-size: 24px;
	}
	@include jumbo {
		font-size: 38px;
	}
}

.circle {
	display: inline-block;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	width: 1em;
	height: 1em;	
	border: .1em solid $base-outline-color;
	border-radius: 50%;
}

.system.downed::before { // flashing lens flare behind downed sites
	content: '';
	position: absolute;
	width: 1.5em;
	height: 4em;
	left: -.225em;
	top: -1.25em;
	z-index: -1;
	opacity: 1;
	background: radial-gradient(closest-side, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
	animation-name: flashing;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes flashing {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

.system {
	display: inline-block;
	position: relative;
	margin-left: .25em;
	margin-bottom: -.1em;
	min-width: 1em;
	height: 1.25em;
}

.rects {
	position: absolute;
	display: flex;
	flex-direction: row;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1em;
}
$thick-border: .1em solid rgba(0, 0, 0, .75);
$thin-border:  .055em solid rgba(0, 0, 0, .75);
.rect {
	flex: 1 1 0;
	height: .5em;
	box-sizing: border-box;
	border: $thin-border;
	border-top: $thick-border;
	border-bottom: $thick-border;
	&:first-child {
		border-left: $thick-border;	
	}
	&:last-child {
		border-right: $thick-border;	
	}
}

@mixin circle-outline() {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	height: .6em;
	width: 1em;
	bottom: .4em;
	border-radius: 1em 1em 0 0;
	background: rgb(0, 110, 0);
	overflow: hidden;
}
.circle-outline-green {
	@include circle-outline();
	border: .1em solid #024601;
}
.circle-outline-red {
	@include circle-outline();
	border: .1em solid #400000;
	
}
@mixin tier() {
	width: 100%;
	height: 100%;
}
.tier-development {
	@include tier();
	clip-path: inset(0 66% 0 0);
}
.tier-testing {
	@include tier();
	clip-path: inset(0 33% 0 33%);
}
.tier-staging {
	@include tier();
	clip-path: inset(0 0 0 66%);
}
.tier-production {
	@include tier();
}

.builds { // time since last build, displayed to the right of a System
	display: inline-block;
	margin-left: 0.1em;
	line-height: 1.55em;
}
.build-viz {
	display: inline-block;
	position: relative;
}
.build-viz:not(:last-child) {
	&::after {
		content: ', ';
		margin-right: .2em;
	}
}

#network-status {
	position: absolute;
	top: .25em;
	right: .25em;
	@include desktop {
		font-size: 75px;
	}
	@include jumbo {
		font-size: 75px;
	}
	width: 1em;
	height: 1em;
	box-sizing: border-box;
	&.waiting {
		cursor: pointer;
	}
	&.waiting:hover::before {
		content: '';
		display: block;
		position: relative;
		width: .3em;
		height: .3em;
		left: calc(50% - .3em/2);
		top: calc(50% - .3em/2);
		background: darkred;
	}
}

.CircularProgressbar {
	position: absolute;
	top: 0;
}

.loading {
	.CircularProgressbar { display: none; }
	border-radius: 50%;
	border: .05em dashed lime;
	animation-name: spin;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}

/////////////////////////////////////////////////////
// RIGHT SIDE
/////////////////////////////////////////////////////

@mixin scan-lines($opacity) {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		opacity: $opacity;
		background: url('/sites-monitor/domino.png');
		z-index: -1;
	}
}
.stats {
	@include scan-lines(.15);
	color: white;
	font-family: 'Roboto', sans-serif;
	line-height: 1.75em;
	max-width: 50%;
	@include desktop {
		font-size: 24px;
	}
	@include jumbo {
		font-size: 38px;
	}
	.half-circle, .square {
		border: .15em solid rgba(0, 0, 0, .75);
	}
	.half-circle {
		display: inline-block;
		position: absolute;
		bottom: 0;
		box-sizing: border-box;
		width: 1.25em;
		height: .8em;	
		border-radius: 1em 1em 0 0;
	}
	.square {
		display: inline-block;
		width: .8em;
		height: .8em;	
	}
		
	.stat-line {
		color: black;
		text-align: center;
		padding: 0 1em;
		&>* {
			position: relative;
			z-index: 1;;
		}
		.circle, .half-circle, .square {
			position: relative;
			margin: 0 0.25em;
			bottom: -.125em;
		}
	}
	.stat-line-green {
		background: hsla(115, 100%, 73.9%, 0.85);
		@include scan-lines(0.35);
	}
	.stat-line-grey {
		background: hsla(0, 0%, 75%, 0.85);
		@include scan-lines(0.4);
	}
	.downed {
		background: hsla(0, 100%, 80%, .85);
		@include scan-lines(0.4);
		z-index: -1;
	}
	.downed-services {
		color: black;
		padding: 0 1em;
		.circle, .square {
			position: relative;
			margin: 0 0.25em;
			bottom: -.55em;
			z-index: 1;
			border: .25em solid black;
		}
		.circle {
			height: 1.75em;
			width: 1.75em;
		}
		.square {
			height: 1.3em;
			width: 1.3em;
		}
		.downed-service {
			padding-bottom: 1em;
		}
		.downed-service-name, .server-name {
			position: relative;
			display: inline-block;
			background: white;
			padding-left: 1.25em;
			padding-right: .5em;
			margin-left: -1em;
		}
		.downed-service-name {
			font-weight: bold;
		}
	}
}

.legend, .jenkins-log {
	padding: 0.25em 1em;
}

.legend img {
	height: 5em;
	width: 100%;
}

.log-line {
	position: relative;
	padding-left: 1em;
	.diamond {
		font-size: 2em;
		top: 0.25em;
		left: 0;
	}
}

.indent {
	margin-left: 2em;
	position: relative;
	&::before {
		content: "";
		border-left: .2em solid black;
		border-bottom: .2em solid black;
		position: absolute;
		width: 1.5em;
		height: 2.5em;
		left: -1em;
		bottom: .8em;
		z-index: 0;
	}
}

